@model digibox.services.Models.RequestModel
@{
    ViewBag.Title = "Add Request";

    var materiallist = ViewData["materiallist"] as List<SelectListItem>;

}

<div class="row">
    <div class="col-md-12">
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">@ViewBag.Title</h3>
            </div>
            <!-- /.card-header -->
            @using (Html.BeginForm("Add", "Request", FormMethod.Post, new { @class = "form-horizontal" }))
            {
        <div class="card-body">
            @Html.AntiForgeryToken()
            <div class="form-group row">
                @Html.LabelFor(x => x.requestdate, new { @class = "col-sm-2 col-form-label" })
                <div class="col-sm-4">
                    <div class="input-group date dte" id="requestdate" data-target-input="nearest">
                        @Html.TextBoxFor(x => x.requestdate, new { @class = "form-control datetimepicker-input", @id = "indatex", data_target = "#requestdate" })
                        <div class="input-group-append" data-target="#requestdate" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Material</label>
                <div class="col-sm-8">
                    <select id="ddlMaterial" multiple class="s2 form-control">
                    </select>
                </div>
                <div class="col-sm-2">
                    <a class="btn btn-danger text-white" onclick="addToList()"> Add Item </a>
                </div>
            </div>
            <div class="form-group row">
                <table class="table table-bordered" id="tblDetail">
                    <thead>
                        <tr>
                            <th>
                                Part. No
                            </th>
                            <th>
                                Material
                            </th>
                            <th>
                                Amount
                            </th>
                            <th>
                                Unit
                            </th>
                            <th>

                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            }
            <!-- /.card-body -->
        </div>
    </div>
</div>

@section scripts{

    <script src="~/Scripts/Request/Add.js"></script>

}