@model digibox.services.Models.MaterialModel
@{
    ViewBag.Title = "Upload Material";
}

<div class="row">
    <div class="col-md-12">
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">@ViewBag.Title</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                @using (Html.BeginForm("Upload", "Material", FormMethod.Post, new { @id = "frmUpload", @class = "form-horizontal", enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken();
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">File Name</label>
                        <div class="col-sm-10">
                            <input type="file" id="file" name="file" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <button type="submit" class="btn btn-primary" id="btnUpload">Upload</button>
                    </div>
                }

                <div id="tblData">

                </div>
            </div>
        </div>
        <div class="card-footer" style="visibility:hidden" id="dvSubmit">
            <button class="btn btn-primary btn-sm" onclick="save()" id="btnsave" >Save</button>
        </div>

    </div>
</div>

@section scripts{

    <script src="~/Scripts/Material/Upload.js"></script>

}