
@{
    ViewBag.Title = "Material Type";
}

<div class="row">
    <div class="col-md-12">
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">@ViewBag.Title</h3>
                <div class="card-tools">
                    <div class="input-group input-group-md">
                        <input class="form-control form-control-navbar" id="searchString" type="search" placeholder="Material Type Name" aria-label="Search">
                        <div class="input-group-append">
                            <button class="btn btn-info" onclick="openMaterialTypeData(1)">
                                <i class="fas fa-search"></i>
                            </button>
                            <button class="btn btn-danger" onclick="add('MATERIAL-TYPE')">
                                <i class="fa fa-file-o"></i> New
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">
                <div id="tblData" class="table-responsive p-3 border-info ">
                    @Html.Action("openMaterialTypeData")
                </div>
            </div>
            <!-- /.card-body -->
        </div>
    </div>
</div>

@section scripts{

    <script src="~/Scripts/Attribute/index.js"></script>

}