
@{
    ViewBag.Title = "User";
    var parameters = ViewData["parameters"] as List<SelectListItem>;

}

<div class="row">
    <div class="col-md-12">
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">@ViewBag.Title</h3>
                <div class="card-tools" style="width:50%">
                    <div class="input-group input-group-md">
                        @Html.DropDownList("Parameters", @parameters, new { @class = "form-control form-control-navbar", @id = "paramtype", @onchange = "paramtypeChanged(this.value)" })
                        <div id="dvdropdown" class="collapse" style="width:50%">
                            <select class="form-control form-control-navbar" id="cbosearchString">
                            </select>
                        </div>
                        <div id="dvParamText" style="width:50%">
                            <input class="form-control form-control-navbar" id="searchString" type="search" placeholder="Search" aria-label="Search">
                        </div>
                        <div class="input-group-append">
                            <button class="btn btn-info" onclick="openData(1)">
                                <i class="fas fa-search"></i>
                            </button>
                            <a class="btn btn-danger" href="javascript:;" onclick="add()">
                                <i class="fa fa-file-o"></i> New
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">
                <div id="tblData" class="table-responsive p-3 border-info ">
                    @Html.Action("OpenData")
                </div>
            </div>
            <!-- /.card-body -->
        </div>
    </div>
</div>

@section scripts{

    <script src="~/Scripts/User/index.js"></script>
}